.web__title {
	font-size: 56px;
	font-weight: 700;
	margin-bottom: 20px;
	padding-left: 24px;
}
.web__subtitle {
	font-weight: 600;
	font-size: 18px;
	color: var(--danger);
}

.web__content {
	display: grid;
	gap: 0.5rem;
}

.web__box {
	border: 1px solid var(--border);
	border-radius: 14px;
	padding: 14px;
	background-color: var(--gradient);
	box-shadow: 0 0 15px var(--accent);

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.25rem;
}

.web__img {
	width: 100%;
	max-width: 650px;
	height: 450px;
	object-fit: cover;
	border-radius: 14px;
}

.web__text {
	display: grid;
	gap: 0.3rem;
	line-height: 1.2;
	/* text-shadow: 0 0 5px var(--foreground); */
}
