.web {
}
.web__container {
}

.web__title {
	margin-bottom: 1rem;
	padding-left: 0.6rem;
	font-weight: 700;
	font-size: 3.5rem;
	text-align: center;

	@media (max-width: 61.9988rem) {
		font-size: 2.5rem;
	}
	@media (max-width: 35.43625rem) {
		font-size: 2rem;
	}
}
.web__subtitle {
	color: var(--warning);
	font-weight: 600;
	font-size: 1.1rem;

	[data-theme='light'] & {
		color: var(--accent);
	}
}

.web__content {
	display: grid;
	border-radius: 0.875rem;
	background-color: var(--default);
	padding: 2.5rem;
	gap: 1.5rem;
}

.web__box {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.25rem;
	box-shadow: 0 0 0.7rem var(--warning);
	border: 0.025rem solid var(--border);
	border-radius: 0.35rem;
	background-color: var(--gradient);
	padding: 0.35rem;

	@media (max-width: 65.625rem) {
		grid-template-columns: 1fr;
	}
}

.web__img {
	transition: scale 0.5s ease 0s;
	border-radius: 0.35rem;
	width: 100%;
	max-width: 100%;
	height: 100%;
	&:hover {
		scale: 1.1;
	}
	&:active {
		scale: 1.3;
	}

	@media (max-width: 19.1995rem) {
		max-width: 100%;
	}
}

.web__text {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	padding: 0.625rem;
}
